<div>
  <div class="row">
    <app-header class="col-12"></app-header>
  </div>
  <div class="row h-100 position-relative">
  <app-sidebar [ngClass]="sidebarFlag ? 'col-12 col-md-4' : 'd-none'"></app-sidebar>
  <p (click)="sidebarChanger()" class="d-none d-md-block btn position-absolute w-auto p-2 ms-2 mt-1">{{sidebarFlag ? 'CLOSE SIDEBAR' : 'OPEN SIDEBAR'}}</p>
  <main [ngClass]="sidebarFlag ? 'col-12 col-md-8' : 'col-12 col-md-12'" class="col-12 col-md-8">
    <router-outlet></router-outlet>
  </main>
  </div>
  <app-footer></app-footer>
</div>