<article class="bg-dark-subtle h-100">
    <div class="container py-2 py-md-5">
        <h1 class="text-uppercase fs-3 fs-md-1 text-center fw-semibold">Crea tu propia To do list</h1>
        <div class="row justify-content-center px-5 mt-4">
            <a class="btn btn-primary" [routerLink]="['/to-do-list/form']">Agregar una tarea</a>
        </div>
        <div class="row justify-content-center px-5 mt-4 mb-4">
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <button (click)="filterTareas(1)" class="btn btn-dark  text-light w-100 ">Ver Pendientes</button>
            </div>
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <button (click)="filterTareas(2)" class="btn btn-success w-100 ">Ver Completadas</button>
              </div>
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <button (click)="filterTareas(0)" class="btn btn-danger w-100 ">Ver Eliminadas</button>
              </div>
        </div>
        <div class="row px-5 flex-wrap">
            <div *ngFor="let item of tareas; index as i" 
            class="col-12 p-3 rounded-3 mb-3" 
            [ngClass]="{
              'bg-danger-subtle': item.estado === 0,
              'bg-success-subtle': item.estado === 2,
              'bg-light': item.estado === 1
            }">
                    <div>
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-12 col-md-4 mb-2">
                                <h5 class="p-0 m-0 text-center text-md-start ">{{item.nombre}}</h5>
                            </div>
                            <div class="col-12 col-md-4 mb-2">
                            </div>
                            <div class="col-12 col-md-4 text-center text-md-end">
                                <button *ngIf="item.estado === 1" (click)="changeTareaState(item.id, 0)" class="btn btn-danger me-2">X</button>
                                <button *ngIf="item.estado === 1" (click)="changeTareaState(item.id, 2)" class="btn btn-success  me-2">✓</button>
                                <button *ngIf="item.estado === 0 || item.estado === 2" (click)="changeTareaState(item.id, 1)" class="btn btn-dark me-2">Activar</button>
                                <button *ngIf="item.estado === 0" (click)="deleteTarea(item.id)" class="btn btn-danger me-2">Eliminar</button>
                                <button *ngIf="item.estado === 1" [routerLink]="['/to-do-list/form/', item.id]" class="btn btn-primary ">Edit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="p-0 m-0 fs-3 mt-3 text-center fw-semibold">{{item.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</article>
