/* Estilos del main para la pagina detail.html */
main .full-detail-container {
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(2,auto);
    row-gap: 2em;
    margin-bottom: 2em;
}
main .full-detail-container .breadcrumb-container {
    grid-row: 1/2;
    grid-column: 1/6;
    display: flex;
    gap: 0.5em;
}
main .full-detail-container .breadcrumb-container .category{
    text-transform: uppercase;
    font-weight: 600;
}
main .full-detail-container .product-detail-image-container {
    grid-row: 2/3;
    grid-column: 1/5;
    width: 100%;
}
main .full-detail-container .product-detail-image-container img {
    width: 100%;
}
main .full-detail-container .product-detail-info-container {
    grid-row: 2/3;
    grid-column: 5/6;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
main .full-detail-container .product-detail-info-container h1{
    margin: 0;
    font-size: 2.5em;
    font-weight: 600;
    max-width: 450px;
}
main .full-detail-container .product-detail-info-container > p{
    font-size: 2em;
    font-weight: 400;
}
main .full-detail-container .product-detail-info-container > p span {
    font-weight: 700;
}
main .full-detail-container .product-detail-info-container .color-palette {
    display: flex;
    gap: 0.5em;
}
main .full-detail-container .product-detail-info-container .color-palette div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
main .full-detail-container .product-detail-info-container .color-palette .black {
    background: #000;
}
main .full-detail-container .product-detail-info-container .color-palette .red {
    background: #ff0000;
}
main .full-detail-container .product-detail-info-container .counter {
    display: flex;
    gap: 0.5em;
}
main .full-detail-container .product-detail-info-container .counter p{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #06bac7;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
main .full-detail-container .product-detail-info-container .counter input {
    width: 3em;
    text-align: center;
}
main .full-detail-container .product-detail-info-container .button-container button{
    background: #06bac7;
    padding: 8px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
main .full-detail-container .product-detail-info-container .info-block1,
main .full-detail-container .product-detail-info-container .info-block2 {
    font-size: 14px;
}