<div class="bg-dark-subtle border-end border-1 border-black h-100">
    <aside class="container py-4 ps-4 py-md-5">
        <div class="d-flex">
            <h3 class="text-uppercase fs-4 fw-semibold">Consulta nuestros proyectos</h3><p (click)="showProjects()" class="ps-3 fs-1 d-md-none"><fa-icon [icon]="faCircleDown"></fa-icon></p>
        </div>
        <div class="row">
            <ul [ngClass]="flagDropdown ? 'd-none d-md-block' : '' ">
                <li class="list-unstyled mt-2"><a [ngClass]="selectedpath('/to-do-list') ? 'fw-bold' : ''" class="text-decoration-none fs-5 text-black" routerLink="to-do-list">To Do List</a></li>
                <li class="list-unstyled mt-2"><a [ngClass]="selectedpath('/simpsons-list') ? 'fw-bold' : ''" class="text-decoration-none fs-5 text-black" routerLink="simpsons-list">The Simpsons List</a></li>
                <li class="list-unstyled mt-2"><a [ngClass]="selectedpath('/rick-morty/character-table') ? 'fw-bold' : ''" class="text-decoration-none fs-5 text-black" routerLink="/rick-morty/character-table">Rick And Morty API</a></li>
                <li class="list-unstyled mt-2"><a [ngClass]="selectedpath('/pipe') ? 'fw-bold' : ''" class="text-decoration-none fs-5 text-black" routerLink="pipe">Pipes</a></li>
            </ul>
        </div>
    </aside>
</div>
